/* GENERALS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppin', sans serif;
    color: rgb(105, 105, 105);
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 3em;
    color: red;
}

h3 {
    font-weight: 300;
    color: red;
    text-align: center;
    padding-bottom: 42px;
    font-size: 22px;
}

h4 {
    padding-top: 18px;
    font-size: 20px;
}

section {
    padding: 20px;
}

.background1 {
    background-image: url("../img/engin-akyurt-0bgCyhlq9oU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

/* HEADER */

header {
    height: 300px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header div {
    padding: 15px;
}

header p {
    color: red;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
}

header nav {
    text-transform: uppercase;
    padding: 35px;
}

header li {
    padding: 10px;
    border-bottom: 1px solid white;
}

header li:hover {
    background-color: #553a3a;
}

header i {
    font-size: 1.3em;
}

header a {
    color: #fff;
    text-decoration: none;
}

.button1 {
    color: #fff;
    background-color: red;
    padding: 15px;
    border-radius: 80px;
}

.button2 {
    color: #fff;
    border-radius: 80px;
    border-color: red;
    background-color: transparent;
    padding: 15px;
}

/* SLIDER */

.slider {
    color: #fff;
}

.slider h1 {
    font-size: 30px;
    width: 300px;
    text-transform: uppercase;
    padding: 10px;
}

.slider h1:before {
    color: red;
    padding: 10px;
    font-size: 30px;
    content: '|'
}

.slider p {
    width: 50%;
}

.slider div {
    margin: 35px;
    padding: 5px;
}

.slider button {
    margin: 20px;
}

/* MOTIVATION */

.motivation_container {
    padding: 20px;
}

.motivation_container p::before {
    color: #b39876;
    float: left;
    font-size: 60px;
    content: '\201C';
}

.motivation_container p::after {
    color: #b39876;
    float: right;
    font-size: 60px;
    content: '\201D';
}

/* ABOUT */

.about_container p {
    padding: 15px;
    border-bottom: 1px solid #e8e4e4;
}

.about_container img {
    padding: 25px;
}

.about_container h4:before {
    color: red;
    content: '|';
    padding: 10px;
}

/* MODELS */

.models_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
}

.models_container img {
    padding: 5px;
    width: 30%;
}

.models_container img:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: grey;
}

/* CONTACT */

.contact_container {
    text-align: center;
    background-image: url("../img/contact-img.png");
    background-color: grey;
    background-size: cover;
    background-position: top;
    height: 250px;
    padding-top: 2em;
}

.contact_container form input {
    width: 300px;
    background: transparent;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #fff;
}

.contact_container ::placeholder {
    color: #fff;
}

.contact_container .submit {
    padding: 10px;
}

.submit_button {
    color: #fff;
    background-color: red;
    border-radius: 20px;
    width: 110px;
    padding: 12px;
    margin: 5px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer p {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

footer nav {
    text-transform: capitalize;
    color: white;
    padding: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

footer nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

footer div {
    padding: 15px;
}

footer nav ul {
    display: flex;
}

footer li {
    text-align: center;
    color: white;
}

@media screen and (min-width: 962px) {

    /* GENERALS */

    h3 {
        font-weight: bold;
    }

    /* HEADER */

    header {
        display: flex;
    }

    header li {
        border: none;
    }

    header nav {
        padding: 0;
    }

    header p {
        order: 1;
    }

    header div {
        order: 3;
        padding: 15px;
    }

    nav ul {
        display: flex;
    }

    /* SLIDER */

    .slider p {
        width: 25%;
    }

    /* MOTIVATION */

    .motivation_container p {
        text-align: center;
        padding: 0 30px;
    }

    /* ABOUT */

    .about_container {
        display: flex;
        margin: 5px;
    }

    .about_container div {
        width: 50%;
    }

    /* Models */

    .models_container {
        padding: 1em;
    }

    .models_container img {
        margin: 2px;
        height: auto;
    }

    /* CONTACT */

    .contact_container {
        height: 300px;
        width: auto;
        padding-top: 4em;
        background-position: right;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 120px;
        padding: 10px;
    }

    footer nav {
        text-transform: capitalize;
        border: none;
    }

}